{% extends 'base.html.twig' %}

{% block title %}Hello LikeController!{% endblock %}

{% block body %}
    <div class="mb-4">
        <h3>J'aime</h3>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Vue</th>
            <th scope="col">J'aime</th>
            <th scope="col">Créateur</th>
        </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.views|length }}</td>
                <td>{{ food.likes|length }}</td>
                <td>{{ food.user.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
