{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
    <h3>
        Food : {{ food.name }}
    </h3>
    <div>
        {% for p in products %}
            <div>
                <form method="POST" action="{{ path('basket_choose_add', {'id': food.id, 'product': p.id}) }}">
                    <p>
                        {{ p.name }} - {{ p.price }}
                        <input type="number" min="1" value="1" required name="quantity" max="100">
                        <input type="submit" value="Choisir">
                    </p>
                </form>
            </div>

        {% endfor %}
    </div>
{% endblock %}
